.node {
  stroke: black;
  stroke-width: 2;
  fill: white;
}
.link {
  stroke: black;
  stroke-width:2;
  marker-end: url(#markerArrow);
}
.round-path {
  fill: lightblue;
}
text {
font-size: 14px;
text-anchor: middle;
alignment-baseline: central;
stroke: black;
stroke-width:.01px;
}
